<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Результат</title>
</head>
<body>
  <h1>Мінімальне та максимальне число</h1>
  <form method="POST" action="/">
    <p>
      <input type="text" name="sequence" value="" placeholder="Введіть послідовність чисел">
      <input type="submit" value="Знайти">
    </p>
  </form>
  <h2>Послідовність чисел:</h2>
  <p>$sequence</p>
  <h2>Мінімальне число:</h2>
  <p>$min_num</p>
  <h2>Максимальне число:</h2>
  <p>$max_num</p>
  <h2>Виділена послідовність:</h2>
  <p>${highlighted_sequence}</p>
</body>
</html>
